<main class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-4">Pipefui - Creating a new form</h1>

      <section style="display: flex; column-gap: 1.5rem; align-items: stretch;">
        <fieldset style="flex: 3">

        <%= form_for :form, url: "/form", html: {class: 'registering-form'} do |form| %>
          <label>Form title: </label><input required type="text" name="form[title]" value="Formulário Sem Titulo" placeholder="Título do formulário" />


          <h3>Fields</h3>

          <% @fields.each do |field| %>
            <div>
              <%= form.text_field field['id'], value: field['title'], name: "form[fields][][name]"%>

              <!-- move that to a partial -->
              <select name="form[fields][][field_type]" required>
                <option value="text" <%= field['field_type'] == 'text' ? 'selected' : '' %>>Texto Curto</option>
                <option value="textarea" <%= field['field_type'] == 'textarea' ? 'selected' : '' %>>Texto Longo</option>
              </select>

              <%= form.hidden_field field['id'], value: field['id'], name: "form[fields][][id]"%>

              <button class="bt-remove" name="form[remove_field]" value="<%= field['id'] %>">Remove Field</button>
            </div>
          <% end %>

          <br />

          <%= form.submit  %>
        <% end  %>
        </fieldset>
        <fieldset>
        <%= form_with url: "/form/add_field" do |form| %>
          <input type="text" name="field[title]" required placeholder="Título da pergunta" />

          <select name="field[field_type]" required>
            <option value="" disabled selected>Selecione...</option>
            <option value="text">Texto Curto</option>
            <option value="textarea">Texto Longo</option>
          </select>

          <button type="submit" class="add-field">Add Field</button>
        <% end %>
        </fieldset>
      </section>
    </div>
  </div>
</main>
