<!DOCTYPE html>
<html>
  <head>
    <title>Pipefui</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="page-header">
      <h1>Pipefy me daddy</h1>

      <div class="menu-items">
      <%= link_to 'Home', form_index_path %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
